.light-theme {
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark-theme {
  background-color: #121212;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}